<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.openrank.openrank.mapper.RepoMapper">

    <resultMap id="RepoMap" type="com.openrank.openrank.model.Repo">
        <id column="id" property="id"/>
        <result column="owner" property="owner"/>
        <result column="repo" property="repo"/>
        <result column="full_name" property="fullName"/>
        <result column="display_name" property="displayName"/>
        <result column="description" property="description"/>
        <result column="tags" property="tags"/>
        <result column="status" property="status"/>
        <result column="priority" property="priority"/>
        <result column="openrank" property="openrank"/>
        <result column="stars" property="stars"/>
        <result column="period" property="period"/>
        <result column="period_type" property="periodType"/>
        <result column="updated_at" property="updatedAt"/>
    </resultMap>

    <select id="findByOwnerAndRepo" resultMap="RepoMap">
        select id, owner, repo, full_name, display_name, description, tags, status, priority, openrank, stars, period, period_type, updated_at
        from repo
        where owner = #{owner} and repo = #{repo}
        limit 1
    </select>

    <select id="findByFullName" resultMap="RepoMap">
        select id, owner, repo, full_name, display_name, description, tags, status, priority, openrank, stars, period, period_type, updated_at
        from repo
        where full_name = #{fullName}
        limit 1
    </select>

</mapper>
